#---------- Flask ----------
FLASK_ENV=production
SECRET_KEY=CHANGE_ME

# ---------- TiDB Cloud ----------
DB_HOST=CHANGE_ME
DB_PORT=4000
DB_NAME=CHANGE_ME
DB_USER=YOUR_USERNAME
DB_PASSWORD=YOUR_PASSWORD

# TLS Certificate
DB_SSL_CA=certs/isrgrootx1.pem

# ---------- Admin ----------
ADMIN_EMAIL=YOUR_ADMIN_EMAIL
ADMIN_PASSWORD=CHANGE_ME